<html>
  <head>
    <title>Fiserv payment button</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div style="margin:100px;">
      <div class="jumbotron"  style="padding:40px;">
        <h1>Fiserv payment button!</h1>
        <p>This is a simple fiserv payment button for [<%-MakeButton.chargetotal %>].</p>

        <form id="paymentForm" method="post" action="https://test.ipg-online.com/connect/gateway/processing">  
          <%  for (const [key, value] of Object.entries(MakeButton)) { %>
            <input type="hidden" name="<%- key %>" value = "<%- value %>"/>
          <% } %>        
          <button id="place_order" type="submit" value="Make Payment" class="button atl">My Make Payment</button>
        </form>
      </div>
    </div>
  </body>
</html>
